@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 
.main-div mat-card {
    padding: 0px;
}
.login-form {
    padding: 20px;
}

#div {
    background-color: #F0F4EF!important;
    height: 90%!important;
    min-height: 90%!important;
}
#login-box {
    background-color: #344966!important;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #555555!important;
    padding-top: 10px;
}
#top-login {
    background-color: #344966!important;
    border-radius: 20px;
}

#top-login span {
    color: #B4CDED!important; 
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 0.02cm;
    font-size: 35px;
    padding-top: 5px;
}
#username, #password {
    background-color: #FFFFFF!important;
    padding-bottom: 0px!important;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #0D1821!important;
}

#submit {
    width: 30%;
    background-color: #B4CDED!important;
    margin-left: 35%;
}

#button-text {
    font-size: 16px;
    font-family: "Poppins";
    font-weight: bold;
    color: #344966!important;
}
