<mat-toolbar color="primary" style="height: 10% !important; text-align: center">
  <span
    style="
      font-family: 'Pacifico';
      font-size: 50px;
      font-weight: normal;
      text-align: center;
      display: inline-block;
      width: 100%;
    "
    >Beep me<span style="color: white">.</span></span
  >
</mat-toolbar>
<div fxLayoutAlign="center center" fxFlexFill class="main-div" id="div">
  <mat-card fxFlex="20" id="login-box">
    <!--<mat-icon style="color: #FFF; font-size: 100px; text-align: center; display: inline-block; width: 100%;"> restaurant</mat-icon>-->
    <!--<mat-toolbar id="top-login" fxLayoutAlign="center center"><span>LOGIN</span></mat-toolbar>-->
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field appearance="fill" id="username">
        <mat-label
          ><mat-icon style="font-size: 20px; position: relative; top: 3px"
            >person_outline</mat-icon
          >Username</mat-label
        >
        <input style="height: 30px" matInput placeholder="Username" />
      </mat-form-field>

      <mat-form-field appearance="fill" id="password">
        <mat-label
          ><mat-icon style="font-size: 20px; position: relative; top: 3px"
            >lock</mat-icon
          >Password</mat-label
        >
        <input
          style="height: 30px"
          matInput
          type="password"
          placeholder="Password"
        />
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        type="submit"
        id="submit"
        (click)="verifyLogin()"
        routerLink="{{ type }}"
      >
        <span id="button-text">LOGIN</span
        ><!--<mat-icon style="color: #344966;">arrow_forward</mat-icon>-->
      </button>
      <br />
      <br />
      <span style="text-align: center; color: #b4cded"
        >Forgot the password</span
      >
    </form>
  </mat-card>
</div>
