
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.divChart{
  text-align: center;
}
.center{
  width:100%
}

#ABCchartF{
  width: 50%;
  margin: 0 auto;
}


#myChart2{
  width: 70%;
  margin: 0 auto;
}

#avgTime{
  width: 70%;
  margin: 0 auto;
}

.monthDropdown{
  float:left;
}



