<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/charts-component">General Statistics <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/restaurants-component">Restaurants</a>
      </li>
    </ul>
  </div>
</nav>

<div class="Center" id="divChart">
  <div><canvas id="ABCchartF"></canvas></div>
  <div><canvas id="myChart2"></canvas></div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

