@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27");
mat-toolbar {
  margin-bottom: 5%;
}

mat-toolbar > span {
  margin-left: 10px;
  text-align: center;
  flex: 1 1 auto;
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
  justify-content: space-evenly;
  height: auto;
}

.container-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin: 15px 15px 15px 15px;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.mat-card {
  background-color: #f0f0f0 !important;
}
.mat-raised-button {
  background-color: #bfcc9433;
  vertical-align: middle;
  padding: 20%;
  border-radius: 20%;
  font-size: large;
  border: 3px solid #bfcc94 !important;
}
