<mat-toolbar color="primary" style="height: 10% !important; text-align: center">
  <span
    style="
      font-family: 'Pacifico';
      font-size: 50px;
      font-weight: normal;
      text-align: center;
      display: inline-block;
      width: 100%;
    "
    >Beep me<span style="color: white">.</span></span
  >
</mat-toolbar>
<div
  style="justify-content: center; justify-self: center"
  class="content-wrapper"
>
  <div class="container-wrapper">
    <div class="container">
      <button mat-raised-button routerLink="/restaurant-component">
        Balcão
      </button>
    </div>
    <div class="container">
      <button mat-raised-button routerLink="/kitchen-component">Cozinha</button>
    </div>
  </div>
</div>
